[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "home/.tmux/plugins/tmux-tokyo-night"]
	path = home/.tmux/plugins/tmux-tokyo-night
	url = https://git::@github.com/fabioluciano/tmux-tokyo-night
[submodule "home/.config/nvchad"]
	path = home/.config/nvchad
	url = git@github.com:GoldenChrysus/nvchad.nvim.git
